PORT=your-port

DB_MODE=your-db-type
DB_TYPE=your-database-type
DB_HOST=yout-database-host 
DB_PORT=yotu-db-port
DB_USER=your-db-username
DB_NAME=your-db-name
AWS_SECRET_ID=your-aws-secret-id
AWS_ACCESS_KEY_ID=your-acess-key-id
AWS_SECRET_ACCESS_KEY=your-secret-acess-key
AUTH_SECRET=your-auth-secret
